
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href='{% static "myapp/styles.css" %}'>
</head>
<body>
    <h1>Nuevo curso</h1>
<div class="formulario">
<form method="post" type="hidden" > <!--Codigo HTML tradicional para generar un formulario-->
                     <!--El metodo HTTP POST envia la peticion al servidor--> 
{% csrf_token %}     <!--Es una variable que Django agrega automaticamente al 
                     contexto de nuestra plantilla. Y que genera un codigo que 
                     protege el formulario de ciertas vulnerabilidades 
                     https://es.wikipedia.org/wiki/Cross-site_request_forgery--> 

{{ form.as_p }}      <!--genera el codigo HTML para los campos que definimos en 
                      forms.FormularioCurso-->
                     <!--Se puede usar solamente {{form}}, para generar el formulario 
                      en una misma linea. El agregado as_p indica que se deben usar 
                      etiquetas <p> para cada campo, lo que hara que se muestren uno 
                          por linea-->
<input type="submit" value="Añadir curso">
</form>
</div>
</body>
</html>

